@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
}

#tooltip {
    display: none;
}
#tooltip[data-popper-reference-hidden] {
    visibility: hidden;
    pointer-events: none;
}

#tooltip[data-show] {
    display: block;
}
